@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #1f4d9b;
  --secondary-color: #596270;
  --title-color: #1f2937;
  --bg-gray: "#FAFCFE";
}

@font-face {
  font-family: ROMANA;
  src: url("../public/fonts/romana.ttf");
}

@font-face {
  font-family: GROLD;
  src: url("../public/fonts/grold-regular.ttf");
}

body {
  background-color: var(--bg-gray);
  font-family: GROLD !important;
  color: var(--secondary-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: ROMANA !important;
}

.wrap {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 12px;
  padding-bottom: 12px;
}

.container {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.switch {
  position: relative;
  width: 200px;
  height: 50px;
  border-radius: 25px;
}

.switch input {
  appearance: none;
  width: 200px;
  height: 50px;
  border-radius: 25px;
  background: var(--primary-color);
  outline: none;
}
