@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #1f4d9b;
  --secondary-color: #6b7280;
  --title-color: #111827;
  --bg-gray: "#fbfcfe";
}

@font-face {
  font-family: SHERIF;
  src: url("../public/fonts/dm-sherif.ttf");
}

@font-face {
  font-family: GILROY;
  src: url("../public/fonts/gilroy.ttf");
}

body {
  background-color: var(--bg-gray);
  font-family: GILROY !important;
  color: var(--secondary-color);
  font-weight: lighter !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: SHERIF !important;
}

.wrap {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 12px;
  padding-bottom: 12px;
}

.container {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.switch {
  position: relative;
  width: 200px;
  height: 50px;
  border-radius: 25px;
}

.switch input {
  appearance: none;
  width: 200px;
  height: 50px;
  border-radius: 25px;
  background: var(--primary-color);
  outline: none;
}
